<h1>Categories</h1>
<%= render 'user/admins/category' %>
<br>
<h1>Products</h1>
<%= render 'user/admins/product' %>
<%= render 'user/admins/userlist' %>
<h1>Users</h1>
<%= link_to 'View All Users', user_users_path, class: 'btn btn-primary' %>
